.sidebar {
    width: 250px;
    height: 100%;
    background-color: #22262b;
    color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px; /* Adjust width as needed */
    height: 100%; /* Full height of viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 1.5px 0 2px rgba(0, 0, 0, 0.5);
    z-index: 100; /* Ensure sidebar is above other content */
    transition: transform 0.3s ease;
  }
  
.sidebar-logo {
  text-align: center;
  margin-bottom: 20px;
}

  .logo-image {
    max-width: 210px; /* Adjust the maximum width of the logo */
    max-height: 75px; /* Adjust the maximum height of the logo */
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  .sidebar .sidebar-menu li {
    padding: 7px 25px; /* Adjust padding to increase space between menu items */
    transition: border-radius 0.3s ease-in-out; /* Smooth transition for border-radius */
  }
  
  .sidebar-menu li {
    margin-bottom: 10px;
  }
  
  .sidebar-menu li a {
    display: flex;
    align-items: center;
    padding: 12px;
    color: inherit;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background color and text color */
    padding: 8px; /* Added padding for text area */
  }
  
  .sidebar-menu li a:hover {
    background-color: #1f2f3f; /* Adjust background color on hover */
    border-radius: 10px; /* Rounded corners */
    color: #ffffff; /* Maintain text color on hover */
  }
  
  .sidebar-menu li a i {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .sidebar-menu li a span {
    font-size: 18px;
  }
  
  .sidebar .sidebar-menu li a .menu-text {
    margin-left: 35px; /* Adjust the margin to create space between icon and text */
  }
